body {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    justify-content: space-between;
    margin: 0;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    gap: 550px;
}

#hero, #header {
    display: flex;
}

#heroimg {
    height: 230px;
    border-radius: 15px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
}

#hero-text, #hero-subtext {
    color: #f9faf8;
}

#hero-text {
    font-size: 48px;
    font-weight: bolder;
    width: 500px;
}

#hero-subtext {
    margin-top: 8px;
    font-size: 18px;
    width: 450px;
}

#hero {
    justify-content: center;
    gap: 70px;
    padding: 100px;
    padding-top: 70px;
}

button {
    color: white;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 8px 20px;
    border: 0;
    margin-top: 8px;
}

#logoimg {
    height: 80px;
}

#second-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 64px;
}

#boxes {
    display: flex;
    gap: 32px;
}

.subtext {
    width: 100px;
    font-size: 11px;
    text-align: center;
    padding: 8px;
}

.box-and-subtext {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#random-info {
    color: #1F2937;
    font-size: 24px;
    font-weight: bolder;
    padding: 35px;
}

#third-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-style: italic;
    width: 600px;
    padding: 64px;
    padding-bottom: 16px;
}

#author {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;
}

.author-image {
    height: 100px;
    border: solid #3882f6;
    border-radius: 100px;
}

.quote-author {
    font-size: 24px;
}

.box-img {
    height: 140px;
    width: 140px;
    border: solid #3882f6;
    border-radius: 10px;
}

#fourth-part {
    display: flex;
    justify-content: center;
    margin: 100px;
}

#first-layer {
    display: flex;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 30px 100px;
    gap: 50px;
}

#text-1 {
    font-weight: bold;
    font-size: larger;
}

#button4p {
    border: 2px solid white;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3e2055;
    padding: 32px;
    color: white;
}

#header {
    background-color: #3e2055;
}

#hero {
    background-color: #462361;
}